{
  "extends": "trendmicro",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "lines-between-class-members": 0,
    "max-classes-per-file": ["error", 1]
  }
}
